input {
    text-align: center;
}
.form-control-lg{
    font-size: 1.5rem;
}
.card {
    background-color: transparentize($color: #ffffff, $amount: 0.7);
    border: white;
    margin-bottom: 2rem;
}
.boton-add{
    margin-top: 1rem;
}
.boton{
    display: flex;
    justify-content: center;

}
footer{
color: white;    
text-decoration: double;
display: flex;
justify-content: center;
margin-top: 5rem;
}