/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("https://raw.githubusercontent.com/juliv5/tareas/Juliana-Velandia/src/assets/img/fondo.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
